<h1>Flights#index</h1>
<p>Find me in app/views/flights/index.html.erb</p>

<% @flights.each do |flight| %>
  <%= flight.departure_airport.code %>
  <%= ' - > - ' %>
  <%= flight.arrival_airport.code %>
  <%= flight.departure_time.to_date %>
  <br><br>
<% end %>