<h1>Flight Booker</h1>

<% @flights.each do |flight| %>
  <div class= 'flight' >
    <div class= 'code'><%= flight.departure_airport.code + ' - > - ' + flight.arrival_airport.code %></div>
    <%= flight.departure_time.to_date %>
    <%= flight.duration.to_s + 'hrs' %>
    <br>
      <%= flight.departure_airport.city + ' to ' + flight.arrival_airport.city %>
    <br><br>
  </div>
<% end %>